apps_dirs:
  - "_build/default/checkouts/*"
  - "_build/default/lib/*"
include_dirs:
  - "include"
  - "_build/default/checkouts/*/include"
  - "_build/default/checkouts"
  - "_build/default/lib/*/include"
  - "_build/default/lib"
providers:
  disabled:
    - document-formatting
macros:
  - name: TEST
